/*Fondo*/

.fondo-principal {
    background-image: url('../assets/fondo.jpg'); 

    background-size: cover;
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed; 
    background-color: #f0f0f0; 
}

/*Estilo de NavBarra.jsx*/

.navbar-huerto{
    background-color:#2E8B57 !important;
}

.navbar-huerto a, 
.navbar-huerto .navbar-brand {
    color: white !important;
}

.navbar-huerto .nav-link:hover {
    color: #2d2d2d !important;
}

.btn-outline-success {
    background-color: #23512d;
    color: white;
    border-color: #ffffff;
}

.btn-outline-success:hover {
    background-color: rgb(19, 49, 21); 
    border-color: #112f18; 
    color: #33784f; 
}

.navbar-huerto .dropdown-menu {
    background-color: #333333; 
    border: solid #444444; 
}

.navbar-huerto .dropdown-item:hover,
.navbar-huerto .dropdown-item:focus {
    background-color: #2E8B57; 
    color: white;
}

/*Estilo de Footer.jsx*/

.footer-huerto {
    background-color: #2E8B57; 
    color: white; 
    padding: 30px 0; 
}

.footer-huerto a {
    color: white !important;
}

/*Estilo de Noticias.jsx*/

.titulo-noticias {
    font-weight: 700;
    text-align: center;
    margin: 40px 0;
}

.noticia-card {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 30% auto; 
    margin: 1% auto;
}
.noticia-texto {
    flex: 1;
    padding: 20px;
}
.noticia-texto h3 {
    font-weight: 700;
    margin-bottom: 15px;
}
.noticia-texto p {
    font-size: 14px;
    color: #333;
}
.noticia-img {
    flex: 1;
    min-width: 100px;
    text-align: center;
    max-width: 100%;
    border: 2px solid #ccc;
}



